{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main %}
    <h1>Category index</h1>
    <a href="{{ path('app_category_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in paginator.results %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdOn ? category.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_category_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'Previous' }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">{{ 'Previous' }}</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('app_category_index_paginated', {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_category_index_paginated', {page: paginator.nextPage}) }}" rel="next">{{ 'Next' }} <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">{{ 'Next' }}</span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock %}
